/* IMPORTS */
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
    overflow-x: hidden;
    /* border: 1px solid red; */
    
    
}
html {
    scroll-behavior: smooth;
}
/* NAV */
body {
    background-color: #161616;
    min-width: 375px;
    overflow-x: hidden;
    
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
    width: 100%;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#contact-me-nav a {
    color: #3C4742;
    font-weight: 700;
    text-decoration: underline;
}
#contact-me-nav a:hover {
    color: #62ad8b;
}

.logo {
    color: white; /* Text color for dark background */
    padding: 3px 10px; /* Add some padding for spacing around the text */
    margin-left: 1rem;
    text-decoration: none;
    /* font-family: 'Bodoni Moda', serif; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    transform: color 0.5s ease;
}

.logo:hover {
    text-decoration: underline;
    color: #3C4742;
    
}



.nav-bar {
 
    display: flex;
    align-items: center;
    min-height: 2.75rem;
    
}

.nav-bar li {
    list-style: none;
    margin-right: 1rem;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    transition: color 0.5s ease;
}

.nav-li a:hover {
    color: #3C4742;
}

@media (min-width: 768px) {
    .logo {
        font-size: 2rem;
    }
    .nav-bar {
        min-height: 3.5rem;
    }
    .nav-bar li a {
        font-size: 1.8rem;
    }
}

/* MAIN */
.hero-text {
    margin-top: 2.75rem;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: .1rem;
    transition: margin-top 0.5s ease;
    display: flex;
    align-items: center;
}

.hero-text h1 {
    font-size: 6rem;
    color: whitesmoke;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    transition: font-size 0.5s ease;
    line-height: 6rem;
    padding: 1rem;
    min-height: 50%;

}

.span-innovative {
    font-size: 6rem;
    color: #3C4742;
    /* font-family: 'Bodoni Moda', serif; */
    font-family: 'Cormorant Garamond', serif;

}


@media (min-width: 768px) {
    .hero-text {
    
        height: 70vh
    }
    .hero-text h1 {
        font-size: 8rem;
    }
    .span-innovative {
        font-size: 8.5rem;
    }
    
}

@media (min-width: 1440px) {
    .hero-text {
        margin-top: 40vh;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .hero-text h1 {
        -webkit-hyphens: none;
            -ms-hyphens: none;
                hyphens: none;
    }
}

#projects {
    background-color: #1a1a1a;
    height: 100vh;
    width: 100%;
    position: relative;

}




/* PROJECTS CSS */

#image-track {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    
}
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(0%, -50%);
    cursor: move;
    
}
#image-track:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}




#projects h3 {
    font-family: 'Bodoni Moda', serif;
    font-size: 3rem;
    color: #3C4742;
    text-align: center;
    margin: 3rem;
    text-transform: uppercase;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
}
@media (min-width: 768px) {
    #projects h3 {
        font-size: 6rem;
    }
}
#projects .drag {
    font-family: 'Bodoni Moda', serif;
    font-size: 2rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-transform: uppercase;
}
/*  CONTACT ME */
#form {
    position: relative;
    height: 100vh;
    background-color: #1c1c1c;
}
.form-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 70%;
    
}
.form-container header {
    width: 100%;
}
.form-title {
    font-size: 3.2rem;
    
    color: white;
}


.form-subtitle {
    font-size: 2rem;
    
    text-align: right;
    color: #3C4742;
}
@media (min-width: 768px) {
    .form-title {
        font-size: 4rem;
        font-family: 'Bodoni Moda', serif;
    }
    .form-subtitle {
        font-size: 2.5rem;
        font-family: 'Bodoni Moda', serif;
    }
    
}
@media (min-width: 1440px) {
    .form-title {
        font-size: 5rem;
    }
    .form-subtitle {
        font-size: 4.5rem;
    }
}
.form-inputs {
    margin-top: 3rem;
    padding: 1rem 0;
}

.contact-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
@media (min-width: 768px) {
    .contact-input {
        flex-direction: row;
    }
}
fieldset {
    border: none;
}

input {
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid #9C9F9D;
    color: #9C9F9D;
    padding-bottom: .3rem;
}

.form-textarea {
    margin-top: 1rem;
    border: none;
    border-bottom: 1.5px solid #9C9F9D;
    background-color: transparent;
    resize: none;
    color: #9C9F9D;
    padding-bottom: .3rem;
    
}

.form-button {
    color: #6a8277;
    background-color: transparent;
    border: none;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.form-button:hover {
    cursor: pointer;
    color: white;
    border-bottom: 2px solid white;

}


.vision-text {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1rem;
}
@media (min-width: 1440px) {
    input {
        font-size: 1.8rem;
    }
    .form-textarea {
        font-size: 1.8rem;
    }
    .form-inputs {
        display: flex;
        align-items: center;
        
    }
    .contact-form {
        margin: 0 2rem;
        width: 80%;
    
    }
    .vision-container {
        margin: 0 2rem;
        width: 20%;
    }
}
/* HIDE LABELS AND LEGENDS */
label, legend {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 0 0);
            clip-path: polygon(0 0, 0 0, 0 0);
    white-space: nowrap;
    border: 0;
}

/* #contact-me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container {
    width: 100vh;
}
.contact-header {
    max-width: 100%;
    
}
.contact-container h2 {
    color: #3C4742;
    font-family: 'Bodoni Moda', serif;
    
}
.h2-contact-me {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
}
.h2-need-website {
    text-align: right;
    margin-right: 2rem;
    font-size: 1.5rem;
    margin: .5rem;
}


.form {
    margin: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 768px) {
    .h2-contact-me {
        font-size: 5rem;
    }
    .h2-need-website {
        font-size: 4rem;
    }
    .form {
       
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100vh;
    margin: 0 2rem;
    
}
#contact-form label {
    color: #9C9F9D;
    font-size: 1.5rem;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}
#contact-form label:hover {
    color: #62ad8b;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid #9C9F9D; 
    background: none;
    width: 100%;
    margin-bottom: 10px; 
    padding: 5px;
    color: #9C9F9D;
}
#project-details {
    height: 5rem;
    resize: none;
}

#submit-button {
    border: hidden;
    background-color: transparent;
    text-align: left;
    margin-top: 2rem;
    color: #F6F7F7;
    font-size: 1.7rem;
}
#submit-button:hover {
    border-bottom: 2px solid #62ad8b;
    width: 35%;
    color: #62ad8b;
}

.tell-me {
    color: whitesmoke;
    text-align: center;
    margin: 0 2rem;
}
.tell-me p {
    font-family: 'Cormorant Garamond', serif;
}
@media (min-width: 768px) {
    #contact-form {
        width: 400px;
    }
} */
/* LIGHT MODE */

/* @media (prefers-color-scheme: light) {
    body {
        background-color: whitesmoke;
    }
    nav {
        background-color: rgb(206, 206, 206);
    }
    .hero-text h1 {
        color: #3C4742;
    }
} */

footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
footer p {
    color: #9C9F9D;
}